[Unit]
Description=Tyk Identity Broker
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=tyk
Group=tyk
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/etc/default/tyk-identity-broker
EnvironmentFile=-/etc/sysconfig/tyk-identity-broker
ExecStart=/opt/tyk-identity-broker/tyk-identity-broker -c /opt/tyk-identity-broker/tib.conf
Restart=always
WorkingDirectory=/opt/tyk-identity-broker

[Install]
WantedBy=multi-user.target
